<!-- toolbar -->
<nav>
  <mat-toolbar color="primary">
    <span><a routerLink="">Home</a></span>
    <span class="spacer"></span>
    <ul>
      <li class="nav-item">
        <a class="nav-link" routerLink="input" routerLinkActive="active"
          >Input</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="output" routerLinkActive="active"
          >Display</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="contact" routerLinkActive="active"
          >Contact Us</a
        >
      </li>
    </ul>
  </mat-toolbar>
</nav>
